---
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const { 
	title, 
	description = "Sitio web oficial de Yakin Dario, ingeniero en telecomunicaciones, desarrollador web y entusiasta de la nube." 
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content="Yakin Dario" />
		<meta name="keywords" content="Yakin Dario, DevOps, Cloud Engineer, Puerto Vallarta" />
		
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://tusitio.com/" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/yakindario1.jpeg" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://tusitio.com/" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content="/yakindario1.jpeg" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Person",
				"name": "Yakin Dario",
				"url": "https://yakindario.com", 
				"image": "https://yakindario.com/yakindario.jpeg",
				"jobTitle": "Cloud Engineer DevOps & Desarrollador Web",
				"description": "Ingeniero en telecomunicaciones, desarrollador web y entusiasta de la nube, en Puerto Vallarta.",
				"address": {
				"@type": "PostalAddress",
				"addressLocality": "Puerto Vallarta",
				"addressRegion": "Jalisco",
				"addressCountry": "MX"
				},
				"sameAs": [
				"https://www.linkedin.com/in/yakindario/",
				"https://github.com/yakindario",
				"https://x.com/yakindario",
				"https://www.instagram.com/yakindario/"
				"https://yakindario.me"
				]
			}
		</script>
	</head>
	<body class="bg-gray-50 text-gray-800 font-sans">
		<div class="fixed inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] opacity-20"></div>
		
		<main class="min-h-screen flex items-center justify-center p-4">
			<slot /> </main>
	</body>
</html>